<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service_SolicitacaoAjuda">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="Service_RespostaAgente">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Service_SolicitacaoAjuda" name="AgenteAutonomo.Servicos.Service_SolicitacaoAjuda">
        <endpoint address="" binding="basicHttpBinding" contract="AgenteAutonomo.Servicos.IService_SolicitacaoAjuda">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Agente_Autonomo/Service_SolicitacaoAjuda/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Service_RespostaAgente" name="AgenteAutonomo.Servicos.Service_RespostaAgente">
        <endpoint address="" binding="wsDualHttpBinding" contract="AgenteAutonomo.Servicos.IService_RespostaAgente">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Agente_Autonomo/Service_RespostaAgente/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService_Gerenciador_Recurso"
          openTimeout="00:00:10" sendTimeout="00:00:05"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8734/Agente_Monitor_Recurso/Service_Gerenciador_Recurso/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Gerenciador_Recurso"
        contract="ServiceReference_AgenteMonitorRecurso.IService_Gerenciador_Recurso"
        name="BasicHttpBinding_IService_Gerenciador_Recurso" />
    </client>
  </system.serviceModel>
</configuration>