<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService_SolicitacaoAjuda" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://Roger-HP:8733/Agente_Autonomo/Service_SolicitacaoAjuda/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_SolicitacaoAjuda"
        contract="ServiceReference_SolicitacaoAjuda.IService_SolicitacaoAjuda"
        name="BasicHttpBinding_IService_SolicitacaoAjuda" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="AgenteMonitorRecurso.Servicos.Service_Gerenciador_Recurso">
        <endpoint address="" binding="basicHttpBinding" contract="AgenteMonitorRecurso.Servicos.IService_Gerenciador_Recurso">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/Agente_Monitor_Recurso/Service_Gerenciador_Recurso/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>