<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService_SolicitacaoAjuda" />
                <binding name="BasicHttpBinding_IService_GerenciadorCor" />
                <binding name="ServiceHttpEndPoint" sendTimeout="00:00:05"/>
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IService_RespostaAgente" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Agente_Autonomo/Service_RespostaAgente/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IService_RespostaAgente"
                contract="ServiceReference_RespostaAgente.IService_RespostaAgente"
                name="WSDualHttpBinding_IService_RespostaAgente">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Agente_Autonomo/Service_SolicitacaoAjuda/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_SolicitacaoAjuda"
                contract="ServiceReference_SolicitacaoAjuda.IService_SolicitacaoAjuda"
                name="BasicHttpBinding_IService_SolicitacaoAjuda" />
            <endpoint address="http://roger-hp/GerenciadorCor/GerenciadorCor.Service_GerenciadorCor.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_GerenciadorCor"
                contract="ServiceReference_GerenciadorCor.IService_GerenciadorCor"
                name="BasicHttpBinding_IService_GerenciadorCor" />
            <endpoint address="http://localhost:8733/Service_Monitorado/Service_Monitorado/"
                binding="basicHttpBinding" bindingConfiguration="ServiceHttpEndPoint"
                contract="ServiceReference_ServicoMonitorado.IService_Monitorado"
                name="ServiceHttpEndPoint" />
        </client>
    </system.serviceModel>
</configuration>